@page "/converter/doc2pdf"
@using Microsoft.AspNetCore.Components.Forms
@inject IHttpClientFactory HttpClientFactory
@using Microsoft.AspNetCore.Components.Web
@using GameStoreWeb.Services
@inject IS3Service S3Service

<div class="mb-3">
    <label class="form-label">Select DOCX File</label>
    <InputFile OnChange="HandleFileSelection" />
</div>

<button class="btn btn-primary" @onclick="UploadDocx" disabled="@(_docFile == null)">
    Upload Doc File
</button>

@if (!string.IsNullOrEmpty(uploadedUrl))
{
    <div class="mt-3">

        <p class="text-success">✅ Conversion complete!</p>

        <!-- Download Button -->
        <a href="@uploadedUrl" target="_blank" class="btn btn-success mb-3">
            Download PDF
        </a>

        <!-- Preview -->
        <iframe src="@uploadedUrl" width="100%" height="600px"></iframe>

    </div>
}

@code {
    private IBrowserFile _docFile;
    private string uploadedUrl;

    // ✅ ONLY store file here
    private void HandleFileSelection(InputFileChangeEventArgs e)
    {
        _docFile = e.File;
    }

    // ✅ Upload happens ONLY on button click
    private async Task UploadDocx()
    {
        if (_docFile == null)
            return;

        @* var content = new MultipartFormDataContent(); *@

        var stream = _docFile.OpenReadStream(maxAllowedSize: 10_000_000);

        var fileId = Guid.NewGuid();
        var extension = Path.GetExtension(_docFile.Name);

        var inputKey = $"documents/{fileId}/input{extension}";
        var outputKey = $"documents/{fileId}/output.pdf";

        @* content.Add(new StreamContent(stream), "file", _docFile.Name); *@

        @* var http = HttpClientFactory.CreateClient("GameStoreApiService"); *@

        @* var response = await http.PostAsync("api/files/upload-docx", content); *@
        await S3Service.UploadFileAsync(stream, inputKey, _docFile.ContentType);

        var pdfUrl = await S3Service.ConvertDocxToPdf(fileId, inputKey, outputKey);

        if (string.IsNullOrEmpty(pdfUrl))
        {
            Console.WriteLine($"Upload failed");
            return;
        }

        uploadedUrl = pdfUrl ?? "No URL returned";
        StateHasChanged();
    }
}