@model DashboardViewModel
@{
    ViewData["Title"] = "Welcome to GameStore!";
}

<div>
    <h3>⚡ XP: @Model.TotalXP</h3>
    <h3>⚡ Current Streak: @Model.CurrentStreak</h3>
    <h3>⚡ Max Streak: @Model.MaxStreak</h3>
</div>