@page "/myblogs"
@using Microsoft.JSInterop;
@inject IJSRuntime JS

@inject IHttpClientFactory HttpClientFactory
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@using System.Security.Claims
@using GameStoreWeb.DTOs
@using System.Net.Http.Headers
@using GameStoreWeb.Components;
@using GameStoreWeb.Services;
@inject IBlogService BlogService;

<h3>MyBlogs</h3>

<ButtonComponentBlazor Type="button" Value="➕ Create Blog" OnClickUrlString="/addblog" BgColor="48A6A7"
    OnMouseEnterBgColor="006A71" AdditionalStyleTags="margin-left: 50px;margin-right: 50px;" />

@if (blogs == null)
{
    <p><em>Loading...</em></p>
}
else if (!blogs.Any())
{
    <p>You haven't written any blogs yet.</p>
}
else
{
    <ul class="list-group">
        @foreach (var blog in blogs)
        {
            <li class="list-group-item">
                <h5>@blog.Title</h5>
                <p class="text-muted">Created: @blog.CreatedAt.ToString("g")</p>
                <button @onclick="@(() => EditBlog(blog.Id))" class="btn btn-sm btn-primary me-2">Edit</button>
                <button @onclick="@(() => DeleteBlog(blog.Id))" class="btn btn-sm btn-danger">Delete</button>
            </li>
        }
    </ul>
}

@code {
    private List<BlogReadUserDto> blogs;

    protected override async Task OnInitializedAsync()
    {
        @* var http = HttpClientFactory.CreateClient("GameStoreApiService");
        var token = await JS.InvokeAsync<string>("getCookie", "JWToken");

        if (!string.IsNullOrEmpty(token))
        {
            http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        } *@
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            @* Navigation.NavigateTo("/login"); *@
            return;
        }

        var userIdString = user.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
        if (string.IsNullOrEmpty(userIdString))
        {
            @* Navigation.NavigateTo("/login"); *@
            return;
        }
        var userId = Guid.Parse(user.FindFirst(ClaimTypes.NameIdentifier)!.Value);
        @* blogs = await http.GetFromJsonAsync<List<BlogDto>>($"api/blogs/Mine"); *@
        blogs = await BlogService.GetMyBlogsAsync(userId);
    }

    private void EditBlog(Guid id)
    {
        Navigation.NavigateTo($"/editblog/{id}");
    }

    private async Task DeleteBlog(Guid id)
    {
        var confirmed = await JS.InvokeAsync<bool>("confirm", $"Are you sure you want to delete this blog?");
        if (!confirmed) return;

        @* var http = HttpClientFactory.CreateClient("GameStoreApiService");
        var token = await JS.InvokeAsync<string>("getCookie", "JWToken");

        if (!string.IsNullOrEmpty(token))
        {
            http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        } *@
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            @* Navigation.NavigateTo("/login"); *@
            return;
        }

        var userIdString = user.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
        if (string.IsNullOrEmpty(userIdString))
        {
            @* Navigation.NavigateTo("/login"); *@
            return;
        }
        var userId = Guid.Parse(user.FindFirst(ClaimTypes.NameIdentifier)!.Value);
        @* var response = await http.DeleteAsync($"api/blogs/Delete/{id}"); *@
        var response = await BlogService.DeleteAsync(id, userId);
        if (response)
        {
            blogs = blogs.Where(b => b.Id != id).ToList();
            StateHasChanged();
        }
        else
        {
            await JS.InvokeVoidAsync("alert", $"Error deleting blog. Please try again.");
            Console.WriteLine("Failed to delete blog");
        }
    }
}