@page "/games/play/{GameId:guid}"
@inject IHttpClientFactory HttpClientFactory
@using Microsoft.JSInterop
@inject IJSRuntime JS
@inject NavigationManager NavManager
@using GameStoreWeb.Models
@using System.Net.Http.Headers;
@inject IConfiguration Config
@using Microsoft.AspNetCore.Components.Routing;
@using Microsoft.AspNetCore.Components.Authorization;
@using GameStoreWeb.Services;
@inject IGameService GameService;
@inject IGameSessionService GameSessionService;
@inject AuthenticationStateProvider AuthStateProvider;
@using System.Security.Claims;

@code {
    [Parameter] public Guid GameId { get; set; }

    private GameReadDto? Game;
    private Guid? SessionId;

    protected override async Task OnInitializedAsync()
    {
        NavManager.LocationChanged += OnLocationChanged;

        @* var http = HttpClientFactory.CreateClient("GameStoreApiService");

        var token = await JS.InvokeAsync<string>("getCookie", "JWToken");

        if (!string.IsNullOrEmpty(token))
        {
            http.DefaultRequestHeaders.Authorization =
            new AuthenticationHeaderValue("Bearer", token);
        } *@
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            @* Navigation.NavigateTo("/login"); *@
            return;
        }

        var userIdString = user.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
        if (string.IsNullOrEmpty(userIdString))
        {
            @* Navigation.NavigateTo("/login"); *@
            return;
        }
        var userId = Guid.Parse(user.FindFirst(ClaimTypes.NameIdentifier)!.Value);
        @* Game = await http.GetFromJsonAsync<GameReadDto>($"/api/games/Get/{GameId}"); *@
        var GameDto = await GameService.GetByIdWithUsernameAsync(GameId);
        Game = new GameReadDto
        {
            Id = GameDto.Id,
            Title = GameDto.Title,
            Description = GameDto.Description,
            GameUrl = GameDto.GameUrl,
            ThumbnailUrl = GameDto.ThumbnailUrl,
            AuthorUserId = GameDto.AuthorUserId,
            CreatedAt = GameDto.CreatedAt
        };

        @* var startResp = await http.PostAsJsonAsync("/api/sessions/start-session",
        new { gameId = GameId }); *@
        SessionId = await GameSessionService.StartSessionAsync(userId, GameId);
        if (SessionId != null)
            Console.WriteLine("Session started with ID: " + SessionId);
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {

        if (SessionId == null) return;

        @* var http = HttpClientFactory.CreateClient("GameStoreApiService"); *@

        @* var response = await http.PostAsJsonAsync("/api/sessions/end-session",
        new { sessionId = SessionId }); *@
        var achievements = await GameSessionService.EndSessionAsync(SessionId.Value);
        Console.WriteLine("Session ended with ID: " + SessionId);
        if (achievements != null)
        {
            foreach (var achievement in achievements)
            {
                Console.WriteLine($"Achievement Unlocked: {achievement.Name} - {achievement.Description}");
            }
        }

        SessionId = null;
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= OnLocationChanged;
    }

    private string IframeUrl => Game?.GameUrl ?? string.Empty;

    private class SessionDto { public Guid Id { get; set; } }
    public class AchievementDto
    {
        public string Name { get; set; } = "";
        public string Icon { get; set; } = "";
    }
}

@if (Game == null)
{
    <p>Loading...</p>
}
else
{
    <h2>@Game.Title</h2>
    <iframe src="@IframeUrl" width="100%" height="600px" style="border:none;"></iframe>
}